<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Dados Para Consulta Advertencia">

    <div class="ui-g-12 ui-md-4" class="left">
        <h3>Data Inicio</h3>
        <p-calendar [showIcon]="true" [(ngModel)]="dataInicio" tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-4" class="center">
        <h3>Data Fim</h3>
        <p-calendar [showIcon]="true" [(ngModel)]="dataFim" tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"></p-calendar>
    </div>

   
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
  <button pButton type="button" label="Consultar" (click)="buscarListaAdvertencia()" style="float:left"></button>
  <button pButton type="button" (click)="modalFormularioAdvertencia()"  label="Adicionar Advertencia" style="float:right"  class="ui-button-warning"></button>
</div>
</p-fieldset>
<br>
<br>

<!--Dados de Resposta-->

<p-fieldset legend="Lista de Advertencia" > 
<p-table [value]="listaAdvertencia" *ngIf="listaAdvertencia.length > 0" >
    <ng-template pTemplate="header">
        <tr>
            <th>Motivo</th>
            <th>Descriçao</th>            
            <th>Anexo</th>
            <th></th>            
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-advertencia>
        <tr>
            <td>{{ advertencia.motivo }}</td>
            <td>{{ advertencia.descricao }}</td>            
            <td>{{ advertencia.anexo }}</td>             
            <td>
              <button type="text" (click)="selecionarAdvertencia(advertencia); modalDetalharAdvertencia();" pButton icon="pi pi-search"></button>
              <button type="text" (click)="selecionarAdvertencia(advertencia);modalAlterarAdvertencia()" pButton icon="pi pi-refresh"></button>
              <button type="text" (click)="recebeIdAdvertencia(advertencia._id);confirmaExclusaoAdvertencia()" pButton icon="pi pi-times"></button>             
              
             </td>
        </tr>
    </ng-template>        
    <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
</p-table>


<div *ngIf="listaAdvertencia.length==0">
    Nenhum registro cadastrado
</div>

<!-- MODALS-->

<p-dialog header="Cadastro de Advertencia"  [(visible)]="formularioAdvertencia" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600" [minY]="600" 
 [baseZIndex]="10000" [closeOnEscape]="false">
  <formulario-advertencia></formulario-advertencia>
</p-dialog>


<p-dialog header="Detalhar Advertencia"  [(visible)]="detalharAdvertencia" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600" [minY]="600" 
 [baseZIndex]="10000">
  <detalhar-advertencia [advertencia]="advertencia"></detalhar-advertencia>
</p-dialog>



<p-dialog header="Alterar Advertencia"  [(visible)]="alterarAdvertencia" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600" [minY]="600" 
 [baseZIndex]="10000">
  <alterar-advertencia [advertencia]="advertencia"></alterar-advertencia>
</p-dialog>


<p-confirmDialog header="Exclusão de Advertencia" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
