<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Dados Para Consulta Multa">

    <div class="ui-g-12 ui-md-4" class="left">
        <h3>Data Inicio</h3>
        <p-calendar [showIcon]="true" [(ngModel)]="dataInicio" tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-4" class="center">
        <h3>Data Fim</h3>
        <p-calendar [showIcon]="true" [(ngModel)]="dataFim" tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"></p-calendar>
    </div>

   
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
  <button pButton type="button" label="Consultar" (click)="buscarListaMulta()" style="float:left"></button>
  <button pButton type="button" (click)="modalFormularioMulta()"  label="Adicionar Multa" style="float:right"  class="ui-button-warning"></button>
</div>
</p-fieldset>
<br>
<br>

<!--Dados de Resposta-->

<p-fieldset legend="Lista de Multa" > 
<p-table [value]="listaMulta" *ngIf="listaMulta.length > 0" >
    <ng-template pTemplate="header">
        <tr>
            <th>Motivo</th>
            <th>Descriçao</th>            
            <th>Valores</th>
            <th></th>            
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-multa>
        <tr>
            <td>{{ multa.motivo }}</td>
            <td>{{ multa.descricao }}</td>            
            <td>{{ multa.valores }}</td>             
            <td>
              <button type="text" (click)="selecionarMulta(multa); modalDetalharMulta();" pButton icon="pi pi-search"></button>
              <button type="text" (click)="selecionarMulta(multa);modalAlterarMulta()" pButton icon="pi pi-refresh"></button>
              <button type="text" (click)="recebeIdMulta(multa._id);confirmaExclusaoMulta()" pButton icon="pi pi-times"></button>             
              
             </td>
        </tr>
    </ng-template>        
    <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
</p-table>


<div *ngIf="listaMulta.length==0">
    Nenhum registro cadastrado
</div>

<!-- MODALS-->

<p-dialog header="Cadastro de Multa"  [(visible)]="formularioMulta" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600" [minY]="600" 
 [baseZIndex]="10000" [closeOnEscape]="false">
  <formulario-multa></formulario-multa>
</p-dialog>


<p-dialog header="Detalhar Multa"  [(visible)]="detalharMulta" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600" [minY]="600" 
 [baseZIndex]="10000">
  <detalhar-multa [multa]="multa"></detalhar-multa>
</p-dialog>



<p-dialog header="Alterar Multa"  [(visible)]="alterarMulta" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600" [minY]="600" 
 [baseZIndex]="10000">
  <alterar-multa [multa]="multa"></alterar-multa>
</p-dialog>


<p-confirmDialog header="Exclusão de Multa" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>



