<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #enqueteForm="ngForm">
        <p-messages [(value)]="msgs"></p-messages>

        <div>
            <h3>Data e Hora</h3>
            <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="myDateObject" name="data" required tabindex="0" [disabledDates]="invalidDates"
              [disabledDays]="[0,6]" readonlyInput="true"></p-calendar>
          </div>
  

        <div class="form-group">
          <h3>Titulo</h3>
          <span class="ui-float-label">
            <input id="float-input" type="text" [disabled]="true" class="form-control" [(ngModel)]="enquete.titulo" name="titulo" size="30"
              maxlength="40" pInputText>
          </span>
        </div>


        <div>
          <h3>Assuntos</h3>
          <textarea class="form-control" [(ngModel)]="enquete.assuntos" name="assuntos" [disabled]="true" required [rows]="5" [cols]="30"
            maxlength="350" pInputTextarea autoResize="autoResize"></textarea>
        </div>

        <div class="form-group">
        </div>
      </form>
    </div>
  </div>
</div>